body {
    font-family:'Open Sans', sans;
    margin: 0;
    padding:0;
    margin-left: 50px;
    background-color: #219ebc;
}



a
{
    color:#edf2f4;
}

p{
	margin: 0;
	padding: 5px;
	color: #edf2f4;
}

.sidebar {
	height: 100%;
	width: 50px;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0;
	background-color: #ffb703ff;
}

.top {
	margin: 0px;
	padding: 0px;
	background-color: #8ecae6ff;
}

.top h1 {
    font-family: 'Lato', sans;
    font-size: 70px;
    color: #023047;    
    margin: 0;
    padding: 50px 50px 0 50px;
}

.top h2 {
    font-family: 'Lato', sans;
    font-size: 40px;
    color: #023047;
    margin: 0;
    padding: 10px 50px 20px 50px;
}

.top p {
	 color: #023047;  
	  margin: 0;
    padding: 20px 50px 50px 50px;
}

.top a {
	 color: #023047;  
}


.bottom {
	margin: 0;
	padding: 50px 50px 0 100px;
	background-color: #219ebc;
	height: 100%;
    margin-bottom: 50px;
}

.bottom h2 {
    font-family: 'Lato', sans;
    font-size: 40px;
    color: #edf2f4;
    padding: 10px;
}

.bottom h3 {
    font-family: 'Lato', sans;
    font-size: 30px;
    color: #edf2f4;
    padding: 10px;
}

.bottom p {
	
	padding: 5px;
	color: #edf2f4;
}
